body {
  box-sizing: border-box;
  font: 1em sans-serif;
}

.list {
  background-color: #bebcbc;
}

h4,
h1,
p {
  text-align: center;
}

.head,
p,
footer {
  text-align: center;
}

ul,
.image {
  justify-self: center;
}

main {
  background-color: #bebcbc;
  margin: 10px 5px;
}

.image {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 900px;
  margin-right: 20px;
}

.img {
  display: flex;
  justify-content: center;
}

li {
  margin-bottom: 15px;
}
