body {
  body;

}

.list {

background-color: #bebcbc;

}

h4,h1,p { 
text-align: center;

}

.head,p,footer {
text-align: center;

}
.head {
background-color: #bebcbc;

}

ul,.image {
justify-self: center;

}
